{{>header}}

<h1>Edit Offer</h1>
<p class="message"></p>
<form action="#/edit/{{shoe.objectId}}" method="post">
    <div>
        <input type="text" placeholder="Name..." value="{{shoe.name}}" name="name" >
    </div>
    <div>
        <input type="text" placeholder="Price..." value="{{shoe.price}}" name="price">
    </div>
    <div>
        <input type="text" placeholder="Image url..." value="{{shoe.image}}" name="imageUrl">
    </div>
    <div>
        <textarea placeholder="Give us some description about this offer..." name="description">{{shoe.description}}</textarea>
    </div>
    <div>
        <input type="text" placeholder="Brand..." value="{{shoe.brand}}" name="brand">
    </div>
    <div>
        <button>Edit</button>
    </div>
</form>

{{>footer}}

<!--<form class="text-center border border-light p-5" action="#/edit/{{movie.objectId}}" method="post">-->
<!--    <h1>Edit Movie</h1>-->
<!--    <div class="form-group">-->
<!--        <label for="title">Movie Title</label>-->
<!--        <input type="text" class="form-control" placeholder="Movie Title" value="{{movie.title}}" name="title">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="description">Movie Description</label>-->
<!--        <textarea class="form-control" placeholder="Movie Description..." name="description">{{movie.description}}</textarea>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label for="imageUrl">Image url</label>-->
<!--        <input type="text" class="form-control" placeholder="Image Url" value="{{movie.image}}" name="imageUrl">-->
<!--    </div>-->
<!--    <button type="submit" class="btn btn-primary">Submit</button>-->
<!--</form>-->

